body {
    background-color: aquamarine;
}

.card {
    border: 2px solid black;
    height:fit-content;
}

table, th, td {
    border: 1px solid brown;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

h2, h3 {
    text-align: center;
}    

h4 {
    text-align: center;
}    
.button .button-danger {
    bottom: 50px;
    padding: 10px;
    display: flex; 
}


